@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#fff;
}

h1 {
    background-color: #4D96FF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

form {
    background-color: aliceblue;
    padding: 10px;
}

label {
    background-color: #fff;
}

.boton {
    background-color: #4D96FF;
    color:#fff;
    border: 2px;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    box-shadow: 1px 2px 1px 2px azure;
    
}

.boton:hover {
    background-color: #fff;
    color: #4D96FF;
    
}













